@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    color: $color_light;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
}
