.message
    .message__ava
        img(src="./img/photo_1.png")
    .message__container
        .message__block
            span.message__text Ты в порядке?
            span.message__date 17:59
.message.message--author
    .message__ava
        img(src="./img/photo_2.png")
    .message__container
        .message__block
            span.message__text У меня все хорошо
            span.message__date 17:59
        .message__block
            span.message__text Буду минут через 20
            span.message__date 18:00

