.photoLoad
    .photoLoad__close
        img(src="img/icons/close_icon.png")
    .photoLoad__container
        .photoLoad__title Загрузка фото
        .photoLoad__card
            .photoLoad__photo
                img(src="img/icons/camera_icon.png")
            .photoLoad__text
                p.photoLoad__name Алексей Трегубин
                p.photoLoad__status  В сети
        