.photoEditor
    .photoEditor__photo
        img(src="img/photo_2.png", alt="")
        .photoEditor__muar
            .photoEditor__point
            .photoEditor__point
            .photoEditor__point
            .photoEditor__point
    .photoEditor__text Область для профильной фотографии
    .photoEditor__container
        button.photoEditor__btn.btn Отмена
        button.photoEditor__btn.prior-btn.btn Сохранить