.aside {
    background-color: $color_bg_medium;
    width: 33%;
    padding: 1rem;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__search {
        flex-grow: 2;
        margin-left: 1rem;
    }

    &__input {
        background-color: $color_bg_light;
        border-radius: 0.5rem;
        width: 100%;
    }
}

@import '../components/card';
