.main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    background-color: $color_bg_medium;

    &__header {
        padding: 1rem;
        border-left: 2px solid $color_bg_dark;
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__qty {
        color: $color_medium;
    }

    &__msg {
        background-color: $color_bg_dark;
        flex-grow: 2;
        padding: 3rem 1rem;
        border-right: 2px solid $color_bg_medium;
    }

    &__form {
        padding: 1rem;
        border-left: 2px solid $color_bg_dark;
        display: flex;
    }

    &__input {
        flex-grow: 2;
    }
}

@import '../components/message';
