.aside
    .aside__header
        nav.aside__nav
            icon.aside__navicon
                img(src="img/icons/menu_icon.png")
        .aside__search
            input.aside__input(type="text", name=("search"), placeholder="Найти...")
    ul.aside__list
        li.aside__item
            include ../components/_card.pug